<body>
<section id="first-block"> 
<div class="title-container">
      <h1>fishapp</h1>
      <h3>~ すべての釣り人のために ~</h3>
    </div>
</section>
    <section id="second-block">
    </section>
<%= link_to "ログイン", posts_path %>
<%= link_to "新規登録", new_user_registration_path %>
</body>