<%= stylesheet_link_tag 'hello', :media => "all" %>
<body>
<section id="first-block"> 
<div class="title-container">
      <h6>fishapp</h6>
      <h7>~ すべての釣り人のために ~</h7>
    </div>
</section>

<section id="second-block">
<div class="login-container">
 <%= link_to "ログイン", posts_path %>
</div>
<div class="new1-container">
<%= link_to "新規登録", new_user_registration_path %>
</div>
</section>
</body>