.post-show {
    width: 100%;
    margin-bottom: 18px;
    padding:2px;
    border : solid #9affee 1px;
    text-align: center;
}

.post-show1 {
    background: #ececec; /* 背景の色を指定する */
    width: 450px; /* 要素の横幅を指定する */
    margin: 10px auto; 
    text-align: left;
}

.comment-wrapper{
    width: 100%;
    margin-bottom: 18px;
    padding:2px;
    text-align: center;
}

